# Environments
venv/
.venv/
env/
ENV/

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/

# Databases
backend/*.db
backend/*.db-journal
*.db
*.db-journal
uploads/
backend/uploads/
frontend/uploads/

# NextJS
frontend/node_modules/
frontend/.next/
frontend/out/

# Environments / Credentials
.env
backend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS files
.DS_Store
Thumbs.db
